.loader {
    border: 16px solid hsl(180, 66%, 49%);
    border-radius: 50%;
    border-top: 16px solid hsl(257, 27%, 26%);
    border-bottom: 16px solid hsl(257, 27%, 26%);
    width: 5rem;
    height: 5rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    background-color: transparent;
  
  }
  

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 